version: 2
jobs:
    build-israfel-common:
        working_directory: /home/circleci/israfel-common
        docker:
            - image: circleci/node:8.11.1
        steps:
            - add_ssh_keys:
                  fingerprints:
                      - '3d:80:45:8e:e6:d2:fd:fd:9b:94:73:80:b3:6c:3e:c2'
            - run:
                  name: Fix host authenticity for 192.30.253.113
                  command: |
                      ssh-keyscan 192.30.253.113 >> ~/.ssh/known_hosts
            - run: git clone git@192.30.253.113:FinBook/israfel-common.git /home/circleci/israfel-common
            - run: cd /home/circleci/israfel-common
            - run:
                  name: Install npm wee
                  command: npm install
            - save_cache:
                  key: dependency-common-{{ .Environment.CIRCLE_SHA1 }}
                  paths:
                      - /home/circleci/israfel-common
    test:
        working_directory: /home/circleci/israfel-relayer
        docker:
            - image: circleci/node:8.11.1
        steps:
            - checkout
            - restore_cache:
                  key: dependency-common-{{ .Environment.CIRCLE_SHA1 }}
            - run:
                  name: Install npm
                  command: npm install
            - run:
                  name: coverage
                  command: npm test -- -w 1 --coverage --forceExit --detectOpenHandles
            - run:
                  name: post coverage
                  command: cat ./coverage/lcov.info | ./node_modules/.bin/coveralls
workflows:
    version: 2
    build_and_test:
        jobs:
            - build-israfel-common
            - test:
                  requires:
                      - build-israfel-common
    schedule_deploy:
        triggers:
            - schedule:
                  cron: '0 4 * * *'
                  filters:
                      branches:
                          only: master
        jobs:
            - build-israfel-common
            - test:
                  requires:
                      - build-israfel-common
                  filters:
                      branches:
                          only: master
